.header {
  height: 100vh;
  width: 100vw;
  background: var(--primary-color);
  background: linear-gradient(to bottom right, var(--primary-color) 50%, var(--dark-color) 50%);
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: 150px auto 150px;
  .logo {
    width: 80px;
    margin: 30px;
    grid-column: 1/2;
  }
  .title-container {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      font-size: 70px;
      font-weight: 900;
      line-height: 1;
    }
    .sub-title {
      font-size: 24px;
      font-weight: 100;
    }
  }
  .navbar {
    grid-column: 1/4;
    grid-row: 3/4;
  }
}